.home_pic{
    position: absolute;
    top: 8%;
	left: 0;
    width: 100vw;
	height: 40vw;
}

.home-over{
	position: relative;
	top:0;
	background-color: rgba(0,0,0,0.3);
	width: 100vw;
	height: 40vw;
}

.navbar{
	padding: 15px 0px;
}

.nav-item{
	padding: 0px 30px;
	color: gray;
	font-size: 15px;
	font-weight: bold;
}