.search{
	width:100%;
	height: 70px;
	background-color: 	#000000bf;
	position: relative;
	top:-70px;
	left:0;
	color: white;
	font-family: 'Fira Sans', sans-serif;
}

a.modal-s{
	color: rgb(255, 255, 255);
	text-decoration: none;
}

a.modal-s:hover{
	color: white;
	text-decoration: none;
}

.icon{
	padding: 0px 15px;
}

.add{
	background-color: wheat;
	width:222px;
	border: 0;
	height: 100%;
}

.add.active{
	background-color: wheat;
	border: 0;
}

button:focus{
	outline: none;
}


.card{
	font-family: 'Fira Sans', sans-serif;
	justify-content: center;
}

.card-body {
	padding:0px;
}

.modal-l{
	padding: 0px;
	font-size: 20px;
}

.nav-link{
	padding-left: 10px;
	padding-right: 10px;
}

#from-date{
	padding-left: 20px;
	font-size: 40px;
}

.MuiInputBase-root{
	padding-left: 40px;
}

.r{
    font-size: x-small;
}

.guest{
    padding: 0px 15px ;
    top: -3px;
    width:60%;
}

.part1{
	height: 100px;
	align-items: center;
}

.modal-f{
	position: absolute;
	bottom: 0;
	height: 90px;
	padding: 10px;
	align-items: center;
}

.button{
	width:200px;
	height:70px;
	font-size: 20px;
}

.btn-bar{
	margin-top: 10px;
	height: 50px;
	width: 250px;
	font-size: 28px;
}

.final-stag{
	position: relative;
	top: 25px;
}

.tgl-s{
	display: none;
}

.col-lg-6{
	padding:0px 16px
}

.col-lg-8{
	padding:0px 10px
}

.c-2{
	height: 60vh;
}

@media only screen and (max-width:1199px){
	.btn-bar{
		width:210px
	}
}

@media only screen and (max-width: 992px) {
	.tgl-l{
		display: none;
	}

	.tgl-s{
		display: flex;
	}

	.icon{
		padding: 15px 15px;
	}

	.final-stag{
		top: 10px;
		font-size: 20px;
	}

	.col-md-12{
		padding-bottom: 20px;
		padding-left: 10px;
	}

	.modal-f{
		height:150px;
	}

	/* .button{
		align-items: center;
		height: 50px;
		margin-left: 60px;
	} */

	.add{
		position: absolute;
		background-color: wheat;
		left: 0;
		font-size: large;
		width: auto;
		border: 0;
		height: 100%;
	}

}

@media only screen and (max-width:450px){
	.icon{
		padding: 15px 5px;
	}

	.final-stag{
		top: 10px;
		font-size: 20px;
	}

	#from-date{
		padding-left: 20px;
		font-size: 25px;
	}

	.modal-l{
		font-size: 15px;
	}

	.add{
		position: absolute;
		background-color: wheat;
		left: 0;
		width: auto;
		font-size: 4vw;
		border: 0;
		height: 100%;
	}

	.modal-f{
		height:150px;
	}

	/* .col-12{
		padding-bottom: 20px;
		padding-left: 10px;
	} */

	/* .button{
		align-items: center;
		height: 50px;
		margin-left: 60px;
	} */
}
